<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tpoutside</string>
		<string>mathwallet</string>
		<string>moneyunstoppable</string>
		<string>metamask</string>
		<string>trust</string>
		<string>safepalwallet</string>
		<string>wc</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>marediv.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
